.form-select, .form-control{font-size:13px !important;}
.form-control, .form-select{
    height:37px;
    background-color: #ffffff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 13px;
}